@font-face {
    font-family: 'Emoji';
    src: local('Apple Color Emoji'),
        local('Segoe UI Emoji'),
        local('Segoe UI Symbol'),
        local('Noto Color Emoji'),
        url('./NotoColorEmoji.ttf') format('truetype');
    font-display: swap;
}